* { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    color: #3d3d3d;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fff;
}

.topo {
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #d5d5d5;
    background-color: #fff;
    top: 0;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.topo .container {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    margin: 0 auto;
}

.link-logo {
    margin: 0 40px 0 0;
    font-size: 24px;
    text-decoration: none;
    color: #3d3d3d;
}

.link-logo span {
    color: #6592c9;
}

.link-topo {
    line-height: 18px;
    text-decoration: none;
    padding: 15px 15px 15px 15px;
    color: #3d3d3d;
}

.link-topo:hover {
    border-bottom: 3px solid #6592c9;
}

.principal-container {
    width: 100vw;
    height: 100vh;
    background: #6592c9 url('assets/img-fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    display: flex;
    justify-content: center;
    align-items: center;
}

.principal-conteudo {
    color: #fff;
    background-color: #0a9077b3;
    border: 1px solid #fff;
    padding: 0 20px;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
}

.container-centralizado {
    text-align: center;
    padding: 40px;
}

.container-centralizado h2 {
    font-size: 32px;
    font-weight: 500;
}

.galeria {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.quarto {
    margin-right: 20px;
    border-bottom: 2px solid #00836a;
    text-decoration: none;
    color: #3d3d3d;
    padding-bottom: 10px;
}

.quarto:last-child {
    margin-right: 0;
}

img {
    width: 100%;
}

.quarto a {
    text-decoration: none;
    color: #000;
}

.quarto a p {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

iframe {
    width: 100%;
    padding-bottom: 10px;
}

.cards {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

.card {
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;
}

.card-conteudo {
    flex: 1 1 auto;
}

.card-imagem {
    width: 100px;
    height: 110px;
    object-fit: cover;
    margin-left: 10px;
}

.rodape {
    background-color: #49997d;
    color: #fff;
    padding-top: 20px   ;
}

.container-rodape {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rodape-info {
    width: 22%;
    display: flex;
    align-items: center;
}

.rodape h4 {
    font-size: 22px;
}

.container-rodape a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

.icone {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.copyright {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #3b7863;
    color: #fff;
    width: 100%;
    font-weight: bold;
}

@media(max-width: 720px) {
    .card{
        width: 100%;
    }
    .rodape-info{
        width: 100%;
    }
    .quarto{
        margin: 0;
    }
}

@media(max-width: 450px){
    .link-topo:hover{
        border: none;
    }
    .link-logo{
        margin: 0;
        padding: 0;
    }
    .link-topo{
        padding: 0 5px 0 5px;
    }
}

